@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital@0;1&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
}

.container-gallery {
    display: flex;
    width:100%;
    min-height: 100vh;
   
    background: linear-gradient(90deg, rgba(255, 247, 173, 1) 14%, rgba(255, 169, 249, 1) 60%);
    justify-content: center;
    align-items: center;
}

.background {
    display: flex;
    align-items: flex-start;
    position: fixed;

}
.background img{
    height: 100vh;
}

header {
    display: flex;
    background-color: #E96479;
    position: absolute;
    width: 740px;
    border-radius: 0 50px 50px 0;
    height: 70px;
    margin-top: 30px;
    padding-left: 40px;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}


.button-home {
    border: none;
    background: none;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

.button-home:hover {
    color: rgb(41, 36, 36);
    opacity: 0.8;
    border-bottom: dashed 1px;
}



h3 {
    font-family: "Dancing Script", cursive;
    font-weight: 500;
    font-size: 60px;
   
}

.gallery {
    display: flex;
    flex-direction: column;
    margin-top: 105px;
    justify-content: center;
    align-items: center;
}
.gallery img{
    height: 450px;

}

.pictures {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    align-items: center;
}
footer{
    font-size: 15px;
    font-weight: 100;
    color: aliceblue;
    background-color: #2e2c2c;
    display: block;
    position: fixed;
    width: 100%;
    padding-left: 100px;
    text-align: -webkit-center;
    bottom: 0;
   
    }
    @media  screen and (max-width: 900px) {

        .container-gallery{
            height: auto;
        }
        
        header{
            position: absolute;
            width: 100%;
            border-radius: 0;
            height: 70px;
            margin-top: 0;
            padding-left: 10px;
            padding-right: 10px;
            gap: 10px;
           
        }
        .button-home{
            font-size: 12px;
           
        text-align: center;
    
        }
        .pictures {
            grid-template-columns: auto;

       
        }

        .pictures img{
        
            height: 300px;
        }
        h3{
            font-size: 50px;
            width: 200px;
        }
        
       

        footer{
            font-size: 10px;
            position: fixed;
            padding-left: 0;
            
        }

        
    }

